
/* BODY */

body.login {
    background-position: bottom;
    background: url(/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;    
    background-attachment: fixed;
}

body.app{
    background-color: transparent !important;
}

.logoPrincipal{
    width: 30%;
}

/* CONTENEDOR */

.container.logueo {
    background-position: bottom !important;
    /*background: url(/img/logueo.png)!important;*/
    background-repeat: no-repeat!important;
    background-size: contain !important;
    position: absolute!important;
    height: 100%;
    width: 39%;
}

.container.principal {
    display: block;
    justify-content: center;
}

/* FORMS */

div.form-group {
justify-content: center;
color: #000 !important;
}

.form-group {       
    justify-content: center; 
    color: #fff !important;        
}

/* LABEL */

label {
color: white;
}

/* CARD  */


.card-body {
    background: #00377b !important;
    color: white;
    margin-top: 0px;
    position: relative;
    border-radius: 28px;
    display: block;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 999;
}

.card-header.logueo{
    /*background: url(/img/logueo.png)!important;*/
    background-repeat: no-repeat!important;   
}
        
.card .logueo{
    position: relative!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
    min-width: 0!important;
    word-wrap: break-word!important;
    background-color: transparent!important;
    background-clip: border-box!important;
    border: 0px solid rgba(0,0,0,.125)!important;
    border-radius: .25rem!important;
}
.card {       
    background-color: transparent!important;     
    border: 0px solid rgba(0,0,0,.125)!important;  
}

.card-header .logueo{
    padding: 4.75rem!important;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03)!important;
    border-bottom: 0px solid rgba(0,0,0,.125)!important;
}

.card-header.logueo {
    position: relative!important;
    top: 55px!important;
    left: 0px!important;
    border: none!important;
    z-index: 1000!important;
}

/* BACKGROUND */     

div.bg-tigo{
    color: #00377b !important;
    padding: 12px;
    
}

.gris {
    background-color: #cccc !important;
    color: #00377b !important;
}

.azultigo {
    background-color: #00377b !important;
    color: #fff !important;
}

.amarillo {
    background-color: #FFBE00 !important;
    color: #000 !important;
}

.Error {
    background-color: #F01E46 !important;
    color: #000 !important;
}

.Warning {
    background-color: #FFAA32 !important;
    color: #000 !important;
}

.Highlight {
    background-color: #3264DC !important;
    color: #000 !important;
}

.Confirmation {
    background-color: #37C846 !important;
    color: #000 !important;
}


/* MENUS */
nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
    background-color: #00377b !important;
}

.nav-tabs .nav-link.active {
    color: #f5f5f5 !important;
    background-color: #3264DC !important;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    margin: 1px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
    color: #f5f5f5 !important;
}
/*
a.nav-link:hover {
    color: #198AFD !important;
}*/

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 70%!important;
}

a.nav-link:active {
    color: #3264DC !important;
}

.embed-responsive.embed-responsive-4by3 {
    margin: 21px2%!important;
}

.dropdown-menu.dropdown-menu-right.show {
    background-color: #00377bc2!important;
    color: #fff !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff!important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
   background-color: #198AFD;
}

input.form-control {
    border-radius: 20px;
}

/* BOTONES */

button.btn.btn-primary:hover{
    background-color: #198AFD!important;
}

.btn-success {
    color: #00C8FF!important;
    background-color: #FFF!important;
    border-color: #00C8FF!important;
    border-radius: 30px
}
.btn-success:hover {
    color: #FFF!important;
    background-color: #00C8FF!important;
    border-color: #00C8FF!important;
}

.btn-info {
    color: #00C8FF!important;
    background-color: #FFF!important;
    border-color: #00C8FF!important;
    border-radius: 30px
}

.btn-info:hover {
    color: #FFF!important;
    background-color: #00C8FF!important;
    border-color: #00C8FF!important;
}

.btn-primary {
    color: #3264DC!important;
    background-color: #FFF!important;
    border-color: #3264DC!important;
    border-radius: 30px
}
.btn-primary:hover {
    color: #fff!important;
    background-color: #3264DC!important;
    border-color: #3264DC!important;
}

.btn-danger {
    color: #F01E46!important;
    background-color: #FFF!important;
    border-color: #F01E46!important;
    border-radius: 30px
}
.btn-danger:hover {
    color: #FFF!important;
    background-color: #F01E46!important;
    border-color: #F01E46!important;
}

.btn-outline-dark {
    color: #3264DC!important;
    border-color: #3264DC!important;
    border-radius: 30px
}
.btn-outline-dark:hover {
    background-color: #3264DC!important;
    color: white!important;
}

.regresar {
    padding: 10px;
    background: #00C8FF;
    color: #fff;
    border-radius: 10px;
    margin: 0px;
}
.regresar:hover {
    padding: 10px;
    background: #2896FF!important;
    color: #fff!important;
    border-radius: 10px;
    margin: 0px;
}


/* TABLAS */

th {
    background-color: #00377b!important;
    color: #ffff!important;
}


/* TEXTO */

a#navbarDropdown {
    color: white;
}

.tituloPrincipal{
	font-size: 1.4rem !important;
    font-weight: 700;
}

.center {
    /* text-align: center; */
    margin: auto;
    padding: 10px;    
}

.text-danger {
    color: #F01E46!important;
}
.text-success {
    color: #37C846!important;
}
.text-warning {
    color: #3264DC!important;
}

.text-warning-me {
    color: #F6B300!important;
}

/* TEXTO SMALL */

.small, small {
    font-size: 90%!important; /* RECOMENDADO */
    font-weight: 400!important;
}


/* IFRAME  */

iframe {
    padding: 10px !important;
}


/*  CONTENIDO DIV GESTION PV */

div.nombre {
   background: #00c8ff82;
    padding: 5px;
    color: black;
    font-weight: 500;
    border-radius: 10px;
    margin: -2px;
}

div.tituloMes {
    background-color: transparent !important;
    color: #00377b !important;
    font-size: 18px !important;
    border-right: solid 1px;
    font-weight: 700;
}

div.tituloMes:last-of-type {   
    border-right: none;    
}

.datos {
    border-color: #fff!important;
    background: #ccc;
    border-radius: 4px;
    color: black;
    padding: 3px;
    border: solid 1px;
}

.col-6.border.border-white {
    padding: 13px;
}

.row.tituloKPI.text-center {
    padding-top: 5px;
    color: #00377b;
    font-weight: 500;
    display: block;
}

div.ColumnaCuatro {
    background-color: transparent !important;
    color: #00377b !important;
    font-size: 15px !important;
    border-right: solid 1px;
    font-weight: 700;
    border-bottom: solid 1px;
}

div.ColumnaCuatro:last-of-type{
    border-right: none;
}

.datosPaquete {
    border-color: #fff0!important;
    background: #ccc;
    color: black;
    padding: 3px;
}

.col-2.ventaPaq {
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 1px solid;
   
}

.col-2.ventaPaq:last-on-type{
    border-top: 1px solid; 
}

.col-2.top {
    border-top: none !important;
    border-bottom: 1px solid;
}
h6.center.h6 {
    text-align: center;
    color: #f5f5f5;
    font-size: 1.1rem;
    background: #00377b;
    border-radius: 5px;
}
/* CONTENIDO RESPOSIVE */

@media (max-width: 768px){    
    .logoPrincipal {
        width: 70%;
    }
    .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem !important;
        border-top-right-radius: 0.25rem !important;
        margin: 1px;
        width: 100px;
    }
    .tituloMes{
        padding-left: 10px !important;
    }
    .ColumnaCuatro{
        padding-left: 6px !important;
    }
    div.ColumnaCuatro {
        background-color: transparent !important;
        color: #00377b !important;
        font-size: 11px !important;
        border-right: solid 1px;
        font-weight: 700;
    }
    .col-2.ventaPaq {
        font-size: 9px;
        font-weight: 800;
        display: flex;
        justify-content: center;
}
    }
    .col-2.ventaPaq.top {
       /* margin-top: -15px; */
        font-weight: 800;

    }

    .datosPaquete {
    border-color: #fff0!important;
    background: #ccc;
    color: black;
    padding: 3px;
    font-size: 9px !important;
}
}



































